@charset "ISO-8859-1";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Bg{
   background-color: rgb(56, 56, 56);
   
}
.tong_the{
    background-color: rgb(75, 73, 73); 
    width: 124%;
}
 
.main{
    background-color:rgb(88, 88, 88);
}
/* Ä‘Ã¢y lÃ  pháº§n tháº» A trÃªn cÃ¹ng */
.conten_trang_chu_ten_phim a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    /* margin-left: 35px;  */
    font-size: 20px;
}
.the_a_trang_chu{
    margin-left: 90px;
}
.video_phim{
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.noi_chieu_phim{
    margin-top: 10px;
    background-color:rgb(39, 39, 39); 
    
    border-radius: 10px; 
}
.xem_phim{
  width: 75%;
  height: auto;
  opacity: 0.4;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
.xem_phim:hover{
    opacity: 1;
}
 
/* Ä‘Ã¢y lÃ  pháº§n táº­p phim */

.chon_tap_phim{
    background-color: rgb(39, 39, 39);
    height: 230px; 
    width: 1400px;
    margin-left: 30px;
    border-radius: 5px;
}
.ten_phim_h2{
    color: rgb(255, 154, 95);
    font-size: 20px;
    
    margin-top: 15px;
}
.dong_ke{
    height: 3px;
    
    background-color:rgb(255, 154, 95);
    
    margin-top: 5px;
}
.cac_tap_phim{
    margin-left: 90px;
    margin-top: 15px;
}

.chon_tap{
    margin-top: 5px;
}

.nut_bam_chon_tap{
    
    border-radius: 5px;
    color: aliceblue;
    background-color: rgb(151, 151, 151);
    cursor: pointer;
    margin-top: 10px;
    font-size: 17px;
    font-weight: 500;
    height: 50px;
}
.nut_bam_chon_tap:hover{
    background-color: rgb(116, 116, 116);
}
.tap_dang_chon{
    background-color: rgb(255, 154, 95);
  }
/* Ä‘Ã¢y lÃ  phÃ¢n mÃ´ táº£ phim */
.mo_ta_phim{
    margin-left: 50px;
    color: aliceblue;
   
}
.the_p_mo_ta_phim{
    text-align: justify;
}
 .mo_ta_chi_tiet {
    margin-top: 20px;
    color: aliceblue;
} 
.mo_ta_chi_tiet p{
    font-size: 17px;
    display: block;
    background-color: rgb(65, 65, 65);
    border-radius: 5px;
}
.danh_gia{
    display: flex;
    margin-top: 10px;
    color: aliceblue;
}
.danh_gia{
    font-size: 21px;
}
.sao_danh_gia i{
    color: rgb(243, 162, 55);
}

/* Ä‘Ã¢y lÃ  pháº§n bÃ¬nh luáº­n cá»§a ngÆ°á»�i dÃ¹ng */
.commets{
    
    
     
    margin-left: 40px;
    border-radius: 10px; 
    margin-top: 20px; 
}
.commets_binh_luan{
    padding-left: 20px;
    padding-top: 25px;
}
.commets_binh_luan h3{
    color: #fff;
    font-size: 20px;
    
}
.dongke_commets{
    color: rgb(122, 72, 72);
    height: 1px;
    width: 30px;
    padding-top: 3px;
}
.Viet_binh_luan{
    margin-left: 15%;
    margin-top: 25px;
    
}
.Them_binh_luan{
    
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(104, 103, 103);
    border-radius: 6px;
}
.Dang_Binh_luan{
    color:#fff;
    background-color: rgb(236, 117, 73);
    
    padding: 12px 10px;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}
.Nguoi_commets{
    margin-top: 25px;
}
.img_va_ten_Nguoi_commets{
    display: flex;
    margin-left: 25px;
}
.Rem_Avatar{
    width: 70px;
    height: auto;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}
.ten_Nguoi_commets{
    color: #fff;
    margin-left: 20px;
    font-size: 20px;
    line-height: 65px;
}
.noi_dung_commets p{
    display: block;
    color: #fff;
    font-size: 20px;
    margin-left: 110px;
}

/* Ä‘Ã¢y lÃ  pháº§n phim cÃ³ thá»ƒ báº¡n sáº½ thÃ­ch */
.khung_phan_co_the_ban_se_thich{
    margin-top: 20px;
    background-color: rgb(39, 39, 39); 
    border-radius: 10px;
    width: 80%;
    margin-left: 127px;
}
.co_the_ban_se_thich{
    margin-left: 20px;
    color: rgb(236, 117, 73);
    font-size: 15px;
    margin-top: 10px;
}
.dong_ke_co_the_ban_se_thich{
    margin-top: 5px;
    color: rgb(255, 159, 103);
    width: 20px;
    height: 3px;
    margin-left: 10px;
}
.khung_phim_lien_quan{
    display: flex;
    position: relative;
}
.cac_phim_lien_quan_img{
    /* position: relative; */
    border-radius: 10px;
    margin-left: 25px;
    width: 265px;
    height: auto;
    cursor: pointer;
    display: block;
    
}
.HD_Vietsub{
   position: absolute;
   top: 15px;
   left: 17px;
   background-color:rgb(255, 159, 103); ;
   color: #fff;
   font-size: 20px;
   z-index: 2;
   font-weight: 500; 
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   
}
/* .HD_Vietsub::after{
  content: "";
  border-top:8px solid yellow;
  border-left:8px solid transparent;
  position: absolute;
  left: 0;
  padding: -3px;
  
} */
.ten_phim_lien_quan{
    color: #fff;
     margin-left: 100px;
     font-size: 25px;
     cursor: pointer; 
   
}
.ten_phim_lien_quan:hover{
    color:rgb(255, 159, 103); ;
}